<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="d" class="net.aymen.exit.DaoImplV2" />
    <bean id="d2" class="net.aymen.dao.DaoImpl"/>
    <bean id="metier" class="net.aymen.metier.MetierImpl">
        <property name="dao" ref="d"/>
        <constructor-arg ref="d2" />
    </bean>

</beans>